Palindrome Number

In [5]:
n = int(input("Enter a number : "))
k = n
rev = 0
while (n!=0):
  d = int(n%10)
  n = int(n/10)
  rev = int((rev*10)+d)
  if(rev == k):
    print (k," is a Palindrome number.")
  else:
    print (k," is not a Palindrome number.")

Enter a number : 121
121  is not a Palindrome number.
121  is not a Palindrome number.
121  is a Palindrome number.

Multiplication Table

In [17]:
n = int(input("Enter a number"))
print("Multiplication of table ",n," as follows :")
count=1
while(count<=10):
   print (n,"x",count,"=",n*count)
   count=count+1

Enter a number33
Multiplication of table  33  as follows :
33 x 1 = 33
33 x 2 = 66
33 x 3 = 99
33 x 4 = 132
33 x 5 = 165
33 x 6 = 198
33 x 7 = 231
33 x 8 = 264
33 x 9 = 297
33 x 10 = 330

Get 2 lists from user.Create 3rd list with odd nos. from the first list and even nos. from the second list

In [16]:
a = int(input("First list range : "))
b = int(input("Second list range : "))
list1 = []
list2 = []
list3 = []
print("Values of List 1 : ")
for i in range(0,a):
  n = int(input())
  list1.append(n)
print("Values of List 2 : ")
for i in range(0,b):
  n = int(input())
  list2.append(n)
for i in range(0,a):
  if(list1[i]%2 != 0):
    list3.append(list1[i])
for i in range(0,b):
  if(list2[i]%2 == 0):
    list3.append(list2[i])
print("Values of List 3 : ")
print(list3)

First list range : 3
Second list range : 3
Values of List 1 :
1
5
8
Values of List 2 :
2
9
10
Values of List 3 :
[1, 5, 10]